.box{
    width:200px;
    height:300px;
    border-radius:5px;
    background-color:white;
    box-shadow:2px 2px 1px 3px gray;
    padding:10px;
    margin:10px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.boxwrapper{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    margin-top:30px;
}
.bookicon{
    font-size:15px;
    position:"absolute";

}
.box:hover{
    cursor:pointer;
}
.homepageContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:20px;
    flex-direction:column;
}
.collections{
    font-size:18px;
    background-color:#282A35;
    color:white;
    padding:10px;
    border-radius:5px;

}
.collections:hover{
    cursor:pointer;
}
.dropdownContainer{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    position:absolute;
    bottom:170px;
    width:150px;
}
.homebox{
    text-decoration:none;
    color:white;
    font-size:18px;
    background-color:#282A35;
    width:150px;
    text-align:center;
    padding:15px;
    margin:2px;
    border-radius:5px;
    height:50px;
}
.homebox:hover{
    background-color:#04AA6D;
    color:white;
    text-decoration:none;
}
.dropdownActive{
    background-color:#04AA6D;
}

